@import "tailwindcss";

@theme {
    --spacing-queue: 12.5%;
    --spacing-lock: 37.5%;
    --spacing-work: 62.5%;
    --spacing-done: 87.5%;
}

.screen-height-fit {
    height: 100vh;
    overflow: hidden;
}

/* Task */
.task {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: bold;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: left 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
        top 0.6s ease-in-out,
        background-color 0.3s ease;
    transform: translate(-50%, -50%);
    will-change: left, top;
    z-index: 10;
}

.task-concurrent-1 {
    background-color: #3b82f6;
}

.task-concurrent-2 {
    background-color: #10b981;
}

.task-concurrent-3 {
    background-color: #f59e0b;
}

.task-concurrent-4 {
    background-color: #ef4444;
}

.task-concurrent-5 {
    background-color: #8b5cf6;
}

.task-concurrent-10 {
    background-color: #111827;
}

.task.completed {
    opacity: 0.4;
    filter: grayscale(0.5);
}

.task.lock_failed {
    animation: shake 0.4s;
}

@keyframes shake {

    0%,
    100% {
        margin-left: 0;
    }

    25% {
        margin-left: -5px;
    }

    75% {
        margin-left: 5px;
    }
}

.task-button {
    @apply bg-blue-600 text-white text-xs py-2 rounded-lg hover:bg-blue-700 transition-all active:scale-95;
}